[Unit]
Description=ReMood Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/remood
Environment="PATH=/var/www/remood/.venv/bin"
ExecStart=/var/www/remood/.venv/bin/python run.py
Restart=always

[Install]
WantedBy=multi-user.target 